<?xml version="1.0"?>
<configuration>
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
      <connectionStrings>
        <add name="ConnectionStringNameHere" connectionString="Data Source = SQL2016.fse.network;Initial Catalog=db_1525607_co5027;Persist Security Info=True; User ID =user_db_1525607_co5027; Password=P@55word"
          providerName="System.Data.SqlClient" />
      </connectionStrings>
    </system.web>
</configuration>
